<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail App</title>
    <style>
        form{
            display: flex;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <h1>Mail App</h1>
   
    <form action="/send" method="post">
       To : <input type="text" name="email">
        From : <input type="text" name="recipient">
        Subject : <input type="text" name="subject">
        Message : <textarea name="msg" id="" cols="30" rows="10"></textarea>
        <button type="submit">Send</button>
    </form>
</body>
</html>